body::before {
	content: "";
	position: fixed;
	inset: 0;
	background-image: url("../images/image.png");
	opacity: 0.08;
	mix-blend-mode: overlay;
	pointer-events: none;
  }

body {
	margin: 0;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #232323;
	/* background: linear-gradient(to bottom, #9bb0dd 0%, #e2e8ff 30%, #ecebff 80%, #ead2dd 100%); */
}

.hero {
	position: relative;
	top: -2rem;
	font-family: '', serif;
	font-size: 40px;
	text-align: center;
	letter-spacing: -0.08em;
	color: #ffb180;
	/* color: #3c3c3c; */
}