/* body::before {
	content: "";
	position: fixed;
	inset: 0;
	background-image: url("../images/grain.png");
	opacity: 0.08;
	mix-blend-mode: overlay;
} */


body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #000000;
	/* background: linear-gradient(to bottom, #9bb0dd 0%, #e2e8ff 30%, #ecebff 80%, #ead2dd 100%); */
}

/* Hero css */
.hero {
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-family: 'Inter', "Helvetica Neue", sans-serif;
	text-align: center;
	letter-spacing: -0.05em;
	color: #ffffff;
	/* color: #3c3c3c; */
}

.name {
	margin: 5;
	font-size: 80px;
	font-weight: 600;
}

.title-carousel {
	height: 35px;
	overflow: hidden;
	margin-top: -70px; 
	margin-right: 4.5px;
}

.title-track span {
	height: 35px;
	font-size: 30px;
	line-height: 35px;
	color: #d00000;
	display: flex;
	align-items: center;
	justify-content: right;
}

/* Side navbar css */
.menu-button {
	position: fixed;
	top: 2rem;
	left: 2rem;
	cursor: pointer;
	font-size: 40px;
	color: white;
	z-index: 1000;
	font-family: 'Inter', "Helvetica Neue", sans-serif;
}

.side-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 60px;
	transition: left 0.4s ease;
	background: #000000;
	z-index: 999;
	border-right: 2px solid #d00000;
}

.side-nav a {
	color: white;
	text-decoration: none;
	text-align: left;
	font-size: 24px;
	padding-left: 28px;
	font-family: 'Inter', "Helvetica Neue", sans-serif;
}

.side-nav.active {
	left: -202px;
}